<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Players</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    <style>
      .image img {
        object-fit: cover;
        width: 64px;
        height: 64px;
      }
      table {
        width: 100%;
      }
      td,
      th {
        vertical-align: middle;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input is-info"
                  name="name"
                  type="text"
                  placeholder="e.g. Messi"
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Club</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="club">
                    <option value="Barcelona">Barcelona</option>
                    <option value="Bayern Munich">Bayern Munich</option>
                    <option value="Real Madrid">Real Madrid</option>
                    <option value="Arsenal">Arsenal</option>
                    <option value="PSG">PSG</option>
                    <option value="Manchester City">Manchester City</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Image</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input is-info"
                  name="image"
                  type="text"
                  placeholder="URL of image"
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Club</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% players.forEach(function(player) { %>
          <tr>
            <td>
              <figure class="image is-64x64">
                <img src="<%= player.image %>" />
              </figure>
            </td>
            <td><%= player.name %></td>
            <td><%= player.club %></td>
            <td>
              <div class="buttons are-small">
                <button class="button is-warning is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
